body{
  margin: 0;
  font-family: 'Helvetica', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  background: #000000;
}

a{
  color: #ff0000;
}

.cabecera{
  position: sticky;
  top: 0;
  background: #000000;
  padding: 15px 0;
  z-index: 1000;
  border-bottom: 2px solid #ff0000;
  box-shadow: 0 4px 15px #000000;
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para la tarjeta de bootstrap */
.card{
    width: 30%;
    color: #ff0000;
    background: rgb(0, 0, 0);
    border: 15px solid rgb(255, 0, 0);
    box-shadow:  0 10px 25px rgba(0, 0, 0, 0.4);
}

/* secció nova */
.boxshadow-seccio{
    padding: 40px;
}

.boxshadow-seccio h2{
    color: #ff0000;
    margin-bottom: 20px;
}

.caixes-horitzontals{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.caixa-shadow{
    width: 80%;
    padding: 100px;
    background: rgb(0, 0, 0);
    color: #ff0000;
    border: 15px solid rgb(255, 0, 0);
}

.ombra1{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.ombra2{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.ombra3{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}